* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	color: white;
	text-decoration: none;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}
.header{
	background: url(img/Layer_15.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
}
.gradient{
	background-image: linear-gradient(to top, rgba(252, 227, 138, 0.7) 0%, rgba(243, 129, 129, 0.9) 100%);
}
.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav{
	margin-top: 40px;
}
.logo{
	margin-top: 26px;
}
.nav a{
	margin-left: 55px;
	font-family: Montserrat;
	transition: 0.7s all ease;
	font-size: 14px;
}
.nav a:first-child {
	margin-left: 0;
	font-size: 14px;
	font-weight: 400;
	font-family: Montserrat;
}
.nav a:hover{
	padding-bottom: 10px;
	color: #fce38a;
	border-bottom: 2px solid #fce38a ;
}
h1{
	color: #ffffff;
	font-family: Montserrat;
	font-size: 150px;
	font-weight: bold;
	
	text-align: center;
}
.header-h2{
	color: #ffffff;
	font-family: "Kaushan Script";
	font-size: 72px;
	font-weight: 400;
	text-align: center;
	margin-top: 110px;
	margin-bottom: 60px;
}
.header-line{
	width: 60px;
	margin: 70px auto;
}
.header-btn {
	width: 160px;
	height: 40px;
	border: 2px solid #fff;
	text-align: center;
	padding-top: 10px;
	margin: 0 auto;
}
.header-btn button{
	border: none;
	color: #ffffff;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 700;
	background-color: transparent;
}
.white{
	width: 280px;
	height: 3px;
	background-color: #fff;
	position: relative;
}
.red{
	width: 280px;
	position: absolute;
	top: -11px;
	opacity: 0;
}
.red:hover{
	opacity: 1;
}
.header-lines {
	margin-top: 110px;
	padding-bottom: 70px;
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 1200px){
	.container{
		padding-left: 15px;
		padding-right: 15px;
	}
	.white {
		width: 200px;
	}
	h1{
		font-size: 100px;
	}
	.header-h2{
		font-size: 60px;
	}

}
@media screen and (max-width: 860px){
	.header-lines{
		flex-direction: column;
		align-items: center;
	}
	.white{
		margin-top: 50px;
	}
	h1{
		font-size: 80px;
		padding: 0;
	}
	.header-h2{
		font-size: 44px;
		margin-top: 80px;
		margin-bottom: 30px;
	}
	.header-line{
		margin-top: 40px;
		margin-bottom: 60px;
	}
	.header-lines{
		margin-top: 60px;
	}

}
@media screen and (max-width: 500px){
	h1{
		font-size: 50px;
	}
}

.header-lines-text{
	opacity: 0.7;
	color: #ffffff;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 400;
	margin-top: 10px;
}
.header-lines-text span{
	font-weight: 700;
}
.about-us{
	padding: 100px 0;
	text-align: center;
}
.about-us-h2{
	color: #333333;
	font-family: "Kaushan Script";
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 20px;
}
.about-us-h1{
	color: #333333;
	font-family: Montserrat;
	font-size: 30px;
	font-weight: 700;
}
.about-us-line{
	margin-top: 38px;
	margin-bottom: 45px;
}
.about-us-txt{
	max-width: 954px;
	margin: 0 auto;
	color: #999999;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	margin-bottom: 100px;
}
.about-us-imgs{
	display: flex;
	justify-content: space-between;
}
.about-us-img1{
	width: 380px;
	height: 250px;
	transition: 0.8s all ease;
	background: url(img/img1.png);
}
.about-us-img2{
	width: 380px;
	height: 250px;
	transition: 0.8s all ease;
	background: url(img/img2.png);
}
.about-us-img3{
	width: 380px;
	height: 250px;
	transition: 0.8s all ease;
	background: url(img/img3.png);
}
.background-blue{
	width: 380px;
	height: 250px;
	background-color: #95e1d3;
}
.gradient2{
	width: 380px;
	height: 250px;
	background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
	transition: 0.8s all ease;
	opacity: 0;
	padding-top: 100px;
}

.about-us-img1:hover{
	transform: translate(-15px, -15px);
}
.about-us-img2:hover{
	transform: translate(-15px, -15px);
}
.about-us-img3:hover{
	transform: translate(-15px, -15px);
}
@media screen and (max-width: 1185px){
	.about-us-imgs{
		flex-direction: column;
		align-items: center;
	}
	
	.background-blue{
		margin-top: 25px;
	}
}
.gradient2:hover{
	opacity: 0.9;
}
.superteam{
	color: #ffffff;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
}

.content2{
	background-color: #95e1d3;
}
.numbers-wrap{
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.numbers{
	border-left: 1px solid #ffff;
	opacity: 0.3px;
	margin-left: 0;
}
.numbers:nth-child(5){
	border-right: 1px solid #ffff;
}
.number{
	color: #ffffff;
	font-family: Montserrat;
	font-size: 72px;
	font-weight: 600;
	text-align: center;
}
.numbers-txt{
	color: #ffffff;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
}
.numbers1{
	padding: 80px 40px;
	margin: 0 auto;
}
@media screen and (max-width: 1148px){
	.number{
		font-size: 40px;
	}
	.numbers1{
	}
}
@media screen and (max-width: 700px){
	.numbers-wrap{
		flex-direction: column;
	}
	.numbers1{
		padding: 20px 40px;
	}
}
.content3{
	padding: 113px 0 30px 0;
	text-align: center;
}
.services{
	display: flex;
  	flex-direction: column;
}
.services1{
	display: flex;
  	justify-content: center;
  	border-bottom: 1px solid #e5e5e5;
}
.services2{
	display: flex;
  	justify-content: center;
  	margin-top: 40px;
}
.service-block{
	display: flex;
  	justify-content: space-between;
  	padding: 20px 45px 50px 30px;
}
.service-txt{
	max-width: 273px;
	margin-left: 20px;
}
.service-title{
	color: #333333;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: left;
}
.service-p{
	margin-top: 10px;
	color: #999999;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}
@media screen and (max-width: 710px){
	.services1{
		flex-direction: column;
		align-items: center;
	}
	.services2{
		flex-direction: column;
		align-items: center;
		margin-top: 20px;
	}
	.service-block{
  		padding: 10px 15px 40px 15px;
	}
	.content3{
		padding-bottom: 0;
	}
}
.content4{
	background-image: url(img/Layer_45.png);
	text-align: center;
	margin-top: 112px;
	background-repeat: no-repeat;
}

.gradient1{
	padding-top: 100px;
	background-color: rgba(255, 255, 255, 0.85);
}
.unique-image{
	z-index: -1;
	margin-top: -25px;
}
.unique-image1{
	margin-left: 470px;
	margin-top: -385px;
}
@media screen and (max-width: 720px){
	.unique-image1{
		margin-left: 400px;
	}
}
@media screen and (max-width: 640px){
	.unique-image1{
		margin-left: 350px;
	}
}
@media screen and (max-width: 600px){
	.unique-image1{
		margin-left: 300px;
	}
}
@media screen and (max-width: 550px){
	.unique-image1{
		margin-left: 260px;
	}
}
@media screen and (max-width: 500px){
	.unique-image img{
		width: 99%;
		height: auto;
	}
}
.content5{
	text-align: center;
}
.we-do{
	display: flex;
	justify-content: space-between;
	margin-bottom: 70px;
}


#photo{
	border: 1px solid #e5e5e5;
	width: 600px;
	height: 60px;
	padding: 12px;
	margin-top: 5px;
}


.photo-left{
	float: left;
}
#photo p{
	float: left;
	color: #333333;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	margin-left: 10px;
	margin-top: 5px;
}
.arrow{
	float: right;
	margin-top: 5px;
}

#photo-text{
	display: block;
	border: 1px solid #e5e5e5;
	width: 600px;
	height: 181px;
	padding: 21px 30px 28px 30px;
	border-top: none;
	overflow: hidden;
	overflow-y: scroll;
}
#photo-text::-webkit-scrollbar {
	width: 5px;
	height: 90px;
	background-color: #f5f5f5;
	margin-right: 20px;
}
#photo-text::-webkit-scrollbar-thumb{
	width: 5px;
	background-color: #95e1d3;;
}

#photo-text p{
	color: #999999;
	font-family: "Roboto - Light Italic";
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}
#creativity-text{
	display: none;
	border: 1px solid #e5e5e5;
	width: 600px;
	height: 181px;
	padding: 21px 30px 28px 30px;
	border-top: none;
	overflow: hidden;
	overflow-y: scroll;
}
#creativity-text::-webkit-scrollbar {
	width: 5px;
	height: 90px;
	background-color: #f5f5f5;
	margin-right: 20px;
}
#creativity-text::-webkit-scrollbar-thumb{
	width: 5px;
	background-color: #95e1d3;;
}
#webdesign-text{
	display: none;
	border: 1px solid #e5e5e5;
	width: 600px;
	height: 181px;
	padding: 21px 30px 28px 30px;
	border-top: none;
	overflow: hidden;
	overflow-y: scroll;
}
#webdesign-text::-webkit-scrollbar {
	width: 5px;
	height: 90px;
	background-color: #f5f5f5;
	margin-right: 20px;
}
#webdesign-text::-webkit-scrollbar-thumb{
	width: 5px;
	background-color: #95e1d3;;
}
#creativity-text p{
	color: #999999;
	font-family: "Roboto - Light Italic";
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}
#webdesign-text p{
	color: #999999;
	font-family: "Roboto - Light Italic";
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}
.we-do-info{
	margin-left: 15px;
}
@media screen and (max-width: 1200px){
	#photo{
		width: 480px;
	}
	#photo-text{
		width: 480px;
	}
	#creativity-text{
		width: 480px;
	}
	#webdesign-text{
		width: 480px;
	}
	.we-do-img img{
		width: 99%;
		height: auto;
	}
}
@media screen and (max-width: 810px){
	.we-do{
		flex-direction: column;
	}
	.we-do-info{
		margin: 20px auto 0 auto;
		width: 480px;
	}
}
.content6{
	background-color: #f8f8f8;
	padding: 80px 0;
	
}
.quote-wrap{
	display: flex;
	justify-content: space-around;
	max-width: 1170px;
	margin: 0 auto;
}
.quote-rec{
	width: 150px;
	height: 150px;
	border: 3px solid #95e1d3;
	padding: 50px 30px;
}
.quote-txt{
	width: 700px;
}
.quote-arr{
	margin-top: 50px;
}
.quote {
	color: #999999;
	font-family: "Roboto - Light Italic";
	font-size: 24px;
	font-weight: 400;
	text-align: left;
}
.author {
	color: #333333;
	font-family: "Kaushan Script";
	font-size: 24px;
	font-weight: 400;
	float: left;
	margin-top: 20px;
	margin-left: 10px;
}
.quote-red-line{
	float: left;
	margin-top: 35px;
}
.quote-txt{
	margin-left: 15px;
}
.content7{
	padding: 115px 0;
}
.member-background{
	width: 380px;
	height: 470px;
	background-color: #95e1d3;
}
.member1{
	width: 380px;
	height: 470px;
	background: url(img/chel1.png);
}
.member2{
	width: 380px;
	height: 470px;
	background: url(img/chel2.png);
}
.member3{
	width: 380px;
	height: 470px;
	background: url(img/chel3.png);
}
.member-gradient{
	padding-top: 190px;
	width: 380px;
	height: 470px;
	opacity: 0;
	transition: 0.8s all ease;
	background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
}
.team-members{
	display: flex;
	justify-content: space-between;
}
.member1:hover{
	transform: translate(-15px, -15px);
}
.member2:hover{
	transform: translate(-15px, -15px);
}
.member3:hover{
	transform: translate(-15px, -15px);
}
.member-gradient:hover{
	opacity: 0.9;
}
.socials{
	width: 224px;
	height: 56px;
	background-color: #fce38a;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}
.social{
	width: 56px;
	height: 56px;
	padding: 15px 5px;
	border-right: 0.2px solid #f38181;
}
.social:nth-child(4){
	border-right: none;
}
.social:hover{
	background-color: #f38181;
}
.name{
	margin-top: 300px;
	display:;
}
.content8{
	padding-top: 40px;
	background-color: #f8f8f8;
}
.icons{
	display: flex;
	justify-content: space-between;
}
.content9{
	padding-top: 100px;
}
.gallery{
	display: flex;
	justify-content: center;
}
.sec-pic{
	margin-top: -4px;
}

.pic1{
	width: 480px;
	height: 390px;
	background: url(img/pic1.png);
}
.pic2{
	width: 480px;
	height: 390px;
	background: url(img/pic2.png);
}
.pic3{
	width: 480px;
	height: 390px;
	background: url(img/pic3.png);
}
.pic4{
	width: 480px;
	height: 390px;
	background: url(img/pic4.png);
}
.pic5{
	width: 480px;
	height: 780px;
	background: url(img/pic5.png);
}
.pic6{
	width: 480px;
	height: 390px;
	background: url(img/pic6.png);
}
.pic7{
	width: 480px;
	height: 390px;
	background: url(img/pic7.png);
}
.gradient4{
	padding-top: 150px;
	opacity: 0;
	width: 480px;
	height: 390px;
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
}
.gradient5{
	padding-top: 300px;
	opacity: 0;
	width: 480px;
	height: 780px;
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
}
.gradient4:hover{
	opacity: 0.9;
}
.gradient5:hover{
	opacity: 0.9;
}
.pic-info p{
	color: #ffffff;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	margin-top: 10px;
	margin-bottom: 10px;
}
.content10{
	padding: 80px 0;
}
.content11{
	text-align: center;
	background: url(img/background11.png);
}
.gradient11{
	padding: 115px 0 120px 0;
	background-color: rgba(255, 255, 255, 0.85);
}
.people2{
	margin-bottom: 38px;
	display: flex;
	justify-content: space-between;
}
.person{
	display: flex;
	justify-content: space-between;
}
.person-info{
	text-align: left;
	max-width: 373px;
	margin-left: 30px;
}
.person-name{
	color: #333333;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.person-pos{
	color: #333333;
	font-family: "Roboto";
	font-size: 15px;
	font-weight: 400;
}
.person-txt{
	color: #999999;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	margin-top: 5px;
}
.content12{
	text-align: center;
	padding: 115px 0 120px 0;
}
.blog{
	display: flex;
	justify-content: space-between;
}
.post-pic{
	position: relative;
	
}
.date-rectangle{
	margin-top: -90px;
	margin-left: -20px;
	position: absolute;
	width: 60px;
	height: 70px;
	background-color: #95e1d3;
	padding: 10px 5px;
}
.post-about{
	max-width: 346px;
	text-align: left;
	margin-top: 20px;
	border-bottom: 1px solid #e5e5e5;
}

.post-head{
	color: #333333;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}
.post-int{
	color: #999999;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.date-rectangle p{
	font-family: "Roboto - Light Italic";
	font-size: 15px;
	font-weight: 400;
	color: #fff;
}
.date-rectangle span{
	font-family: Montserrat;
	font-size: 30px;
	font-weight: 700;
}
.views{
	float:left;
	margin-top: 20px;
}
.views a{
	float: left;
	margin-right: 7px;
	margin-top: 4px;
}
.views p{
	float: left;
	margin-right: 20px;
	color: #999999;
	font-family: "Roboto - Light Italic";
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
}
.content13{
	background: url(img/Layer_59.png);
}
.gradient-map{
	padding: 50px 0;
	background-color: rgba(255, 255, 255, 0.85);
}
.map{
	text-align: center;
}
.map a{
	color: #f38181;
	font-family: Montserrat;
	font-size: 24px;
	font-weight: 700;
	margin: 10px auto;
}
.content14{
	padding: 74px 0 130px 0;
}
.content14-1{
	display: flex;
	justify-content: space-between;
	padding-bottom: 40px;
	border-bottom: 1px solid #e5e5e5;
}
.mogo{
	max-width: 450px;
}
.mogo h1{
	color: #cccccc;
	font-family: Montserrat;
	font-size: 46px;
	font-weight: 700;
	text-align: left;
}
.mogo-txt{
	color: #999999;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	margin-top: 40px;
	margin-bottom: 20px;
}
.followers{
	color: #333333;
	font-family: Montserrat;
	font-size: 14px;
	margin-bottom: 10px;
}
.followers span{
	font-weight: 700;
}
.blogs1{
	display: flex;
	justify-content: space-between;
}
.follow{
	border-top: 1px solid #e5e5e5;
	padding-top: 15px;
	margin-bottom: 20px;
}
.follow p{
	color: #999999;
	font-family: "Roboto - Light Italic";
	font-size: 15px;
	float: left;
	margin-right: 10px;
}
.follow img{
	margin-left: 10px;
}
.email{
	border: 1px solid #e7e7e7;
	width: 230px;
	height: 40px;
	padding-left: 5px;
}
button.subscribe{
	background-color: #95e1d3;
	width: 150px;
	height: 40px;
	color: #ffffff;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 700;
}
.blogs{
	margin-top: 30px;
}
.blogs-head{
	color: #333333;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 37px;
}
.blogs1{
	margin-bottom: 20px;
}
.blogs1-txt1 {
	width: 194px;
	margin-left: 15px;
	color: #333333;
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	margin-top: 9px;
}
.blogs1-txt-date{
	color: #999999;
	font-family: "Roboto - Light Italic";
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	margin-left: 15px;
}
.instagram{
	margin-top: 30px;
}
.instagram a{
	color: #333333;
	font-family: "Roboto - Light Italic";
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
}
.view-more{
	margin-top: 15px;
}
.footer{
	margin-top: 25px;
	text-align: center;
	color: #333333;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
}
.footer span{
	color: #f38181;
}









	


